/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  width: 80%;
  margin: 0 auto;
}
.navigation {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-content: top;
  justify-content: space-between;
}
.navigation a {
  display: flex;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  color: red;
  border: 3px solid black;
  padding: 1%;
  border-radius: 10px;
  background-color: lightgrey;
}
.navigation a:hover {
  background-color: white;
}
.heading {
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1%;
}
.alastor-pic {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.alastor-pic img {
  background-image: url('https://media2.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=790b76110ccd762aefa168b6a3f0f40ba9602c8731cd457a&rid=giphy.gif');
}
.section2 {
  display: flex;
  justify-content: center;
}
.section2 #intro {
  font-family: 'Inconsolata', monospace;
  padding: 1%;
  border: 1px dotted pink;
  width: 25vw;
}
@media (max-width: 500px) {
  .section2 #intro {
    width: 90vw;
  }
}
.section2 #intro h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section2 #intro p {
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}
.section2 #intro:hover {
  background-image: url('https://media2.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=790b76110ccd762aefa168b6a3f0f40ba9602c8731cd457a&rid=giphy.gif');
}
.section3 {
  display: flex;
  justify-content: center;
}
.section3 #skills {
  font-family: 'Inconsolata', monospace;
  width: 25vw;
  flex-direction: column;
  margin: 2%;
  border: 1px dotted pink;
  padding: 1%;
}
@media (max-width: 500px) {
  .section3 #skills {
    width: 90vw;
  }
}
.section3 #skills h2 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}
.section3 #skills p {
  font-size: 1.2rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section3 #skills .alastor-gif {
  max-width: 100%;
  padding: 1%;
  width: 50vw;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .section3 #skills .alastor-gif {
    width: 75vw;
  }
}
.section3 #skills img {
  display: flex;
  justify-content: center;
}
.section3 #skills:hover {
  background-image: url('https://media2.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=790b76110ccd762aefa168b6a3f0f40ba9602c8731cd457a&rid=giphy.gif');
}
.section3 #skills:hover img {
  visibility: hidden;
}
.section4 {
  display: flex;
  justify-content: center;
}
.section4 #work-history {
  font-family: 'Inconsolata', monospace;
  width: 25vw;
  flex-direction: column;
  margin: 2%;
  border: 1px dotted pink;
  padding: 1%;
}
@media (max-width: 500px) {
  .section4 #work-history {
    width: 90vw;
  }
}
.section4 #work-history h2 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}
.section4 #work-history p {
  font-size: 1.2rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section4 #work-history img {
  max-width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
}
.section4 #work-history:hover {
  background-image: url('https://media2.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=790b76110ccd762aefa168b6a3f0f40ba9602c8731cd457a&rid=giphy.gif');
}
.section4 #work-history:hover img {
  visibility: hidden;
}
.section5 {
  display: flex;
  justify-content: center;
}
.section5 #contact {
  font-family: 'Inconsolata', monospace;
  width: 25vw;
  flex-direction: column;
  margin: 2%;
  border: 1px dotted pink;
  padding: 1%;
}
@media (max-width: 500px) {
  .section5 #contact {
    width: 90vw;
  }
}
.section5 #contact h2 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}
.section5 #contact p {
  font-size: 1.2rem;
  background: -webkit-linear-gradient(black, #FF4646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section5 #contact:hover {
  background-image: url('https://media2.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif?cid=790b76110ccd762aefa168b6a3f0f40ba9602c8731cd457a&rid=giphy.gif');
}
